:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

* {
  box-sizing: border-box;
}

input, textarea, select {
    appearance: none;
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 0.5rem;
    background-color: #fdfcfc;
    transition: all 0.2s ease-in-out;

    &:focus-visible {
      border-color: #0070f3;
      background-color: #fff;
    }

  &:hover {
    background-color: #fff;
  }
}

button {
    background-color: #fcfcfc;
    border: 1px solid #f6f6f6;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.15s ease;
    width: 100%;

    &:hover {
        background-color: #eeeeee;
    }
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#root__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}